/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/tronflow-bam-preprocessing Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test {
    params.input_files = "test_data/test_input.txt"
    params.reference = "$baseDir/test_data/ucsc.hg19.minimal.fasta"
    params.prepare_bam_cpus = 1
    params.prepare_bam_memory = "3g"
    params.mark_duplicates_cpus = 1
    params.mark_duplicates_memory = "3g"
    params.skip_mark_duplicates_cpus = 1
    params.skip_mark_duplicates_memory = "3g"
    params.realignment_around_indels_cpus = 1
    params.realignment_around_indels_memory = "3g"
    params.bqsr_cpus = 1
    params.bqsr_memory = "3g"
    params.known_indels1 = "$baseDir/test_data/1000G_phase1.indels.hg19.sites.minimal.vcf"
    params.known_indels2 = "$baseDir/test_data/Mills_and_1000G_gold_standard.indels.hg19.sites.sorted.minimal.vcf"
    params.intervals = "$baseDir/test_data/minimal_intervals.intervals"
    params.dbsnp = "$baseDir/test_data/dbsnp_138.hg19.minimal.vcf"
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

cleanup = true

timeline {
  enabled = true
  //file = "${params.output}/execution_timeline.html"
}
report {
  enabled = true
  //file = "${params.output}/execution_report.html"
}
trace {
  enabled = true
  //file = "${params.output}/execution_trace.txt"
}
dag {
  enabled = true
  //file = "${params.output}/pipeline_dag.svg"
}

manifest {
  name = 'TRON-Bioinformatics/tronflow-bam-preprocessing'
  author = 'Pablo Riesgo Ferreiro'
  homePage = 'https://github.com/TRON-Bioinformatics/tronflow-bam-preprocessing'
  description = 'Picard and GATK BAM preprocessing pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.1.0'
}
